.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f6f3ff;
    height: 450px;
  }
  
  .hero-content h1 {
    margin: 0 0 0 100px; /* Top Right Bottom Left */
    font-size: 3rem; /* Taille de la police */
    color: #333; /* Couleur du texte */
    margin-bottom: 20px;
}
  
  .cta-button {
    background: linear-gradient(90deg, #0590fe, #f6861b); 
  color: white;
  padding: 15px 30px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 100px;
  font-size: 16px; 
  font-weight: bold; 
  transition: background 0.3s ease; 

  }

  .cta-button:hover{
    background: linear-gradient(90deg, #f6861b, #0590fe); 
  }
  
  .hero-image img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-right: 70px;
  }
  