/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  /* Sidebar Container */
  .sidebar-container {
    background-color: #fafafa;
    width: 270px;
    height: 100vh;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Sidebar Header */
  .sidebar-header {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 25px;
    margin-right: 50px;
  }
  
  /* Add Task Button */
  .ajouter {
    color: rgb(199, 38, 38);
    padding: 1px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 80px;
  }
  
  .home{
    color:#555 ;
    padding: 1px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 80px;
  }
  .home:hover{
    background-color: #e6f7ff;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .ajouter:hover{
    background-color: #e6f7ff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .copy{
    margin-top: 148%;
    color: rgb(106, 104, 104);

  }


  /* Overlay de la modale */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Contenu de la modale */
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Champ d'entrée */
  .modal-content input,
  .modal-content textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  /* Actions de la modale */
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Bouton Annuler */
  .modal-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Bouton Annuler */
  .modal-actions button:first-child {
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .modal-actions button:first-child:hover {
    background-color: #ccc;
  }
  
  /* Bouton Ajouter une tâche */
  .modal-actions button:last-child {
    background-color: #f6861b;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .modal-actions button:last-child:hover {
    background-color: #d76a0a;
  }

